.movie{
    width: 305px;
    margin: 2rem;
    position: relative;
    overflow: hidden;
}

.movie-plot {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}


.movie:hover .movie-plot {
    transform: translateY(0%);
}